
 body {<button id=" yes click-me" class="waves-effect waves-light btn-large" >Get Started</button>
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
} 
